{
    "$schema": "http://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        },
        "target": "es2022",
        "keepClassNames": true,
        "loose": true,
        "externalHelpers": false
    },
    "module": {
        "type": "commonjs",
        "strict": true,
        "strictMode": true,
        "lazy": false,
        "noInterop": true
    },
    "sourceMaps": "inline",
    "inlineSourcesContent": true
}
